---
import Layout from '../layouts/Layout.astro';
import Bento from '../components/Bento.astro';
import Intro from '../components/Intro.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
import Inicio from '../components/Inicio.astro';
---

<Layout title="Conecta con profesionales | Explora y contrata facilmente"
		description="Conecta con procesos profesionales. Explora y contrata facilmente.">
		<Inicio/>
	<main>
		
	</main>
	<Intro/>
	<Bento/>
	<PreFooter/>
	<Footer/>
</Layout>

<style>
	
</style>
