<div class=" mx-auto my-24 text-left text-xl max-w-7xl text-pretty-white">
    <div class="flex justify-center">
      <div class="flex flex-col mx-auto  ">
        <img class=" self-stretch relative overflow-hidden h-[500px] md:h-[321px] shrink-0 object-cover my-4  rounded-2xl" src="/Incio 1.jpg" alt="Image description">
        <img class="self-stretch relative max-w-full overflow-hidden h-[500px] md:h-[321px] shrink-0 object-cover my-4 rounded-2xl" src="/Inicio 2.jpeg">
      </div> 
      <div class=" mx-auto my-24 text-center text-xl max-w-6xl text-pretty-white  tracking-wide">
        <div class=" self-stretch relative tracking-[-0.02em] leading-[104%] md:text-6xl font-semibold  mb-50">¡Bienvenido!</div>
        <div class="self-stretch relative tracking-[-0.02em] leading-[104%] md:text-2xl font-semibold mb-50">Explora y contrata procesos procesos procesos.</div>
        <button class="mx-auto my-24 group relative h-12 w-48 overflow-hidden rounded-2xl bg-green-500 text-lg font-bold text-white">
            Comienza ahora!
            <div class="absolute inset-0 h-full w-full scale-0 rounded-2xl transition-all duration-300 group-hover:scale-100 group-hover:bg-white/30"></div>
          </button>
        </main>
        <style>
          .text-pretty-white {
            color: #ffffff;
            border: black;
            border-radius: 5px;
            background-color: #747474;
          }
        </style>
      </div>
    </div>
  </div>
  